{% extends 'invoice_manager/base.html' %}

{% load widget_tweaks %}

{% block title %}Customers{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Customers</h1>
    <button type="button" class="btn red-button mt-3 mb-3" data-toggle="modal" data-target="#create-modal">Create New Customer</button>
    <div class="row justify-content-center">
      <table id="item-table" class="table table-striped">
        <thead>
          <tr>
            <th>Customer <input onkeyup="FilterList()" type="text" class="form-control" id="search-input" placeholder="Search..."></th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Pending Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
            <tr data-customer-id="{{ customer.pk }}">
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.get_pending_amount }}</td>
                <td>
                <button class="btn btn-primary" onclick="onCustomerUpdateButtonClick({{ customer.pk }})"><i class="fas fa-edit"></i></button>
                <a href="{% url 'invoice_manager:customer_detail' pk=customer.pk %}"><button class="btn btn-primary">View</button></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    {% include 'invoice_manager/partials/customer-modals.html' %}

    <script>

        {% include 'invoice_manager/partials/customer-modal-functions.html' %}

    $('#update-customer-form').on('submit', function(e) {
        e.preventDefault();
    });
    $('#create-item-form').on('submit', function(e) {
        e.preventDefault();
    });
    </script>

{% endblock %}