{% extends 'invoice_manager/base.html' %}

{% block title %}Invoices{% endblock %}

{% block content %}
    <h1>Invoices</h1>
    <a href="{% url 'invoice_manager:invoice_creation' %}" class="btn red-button mt-3 mb-3">Create New Invoice</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created At</th>
                <th>Created By</th>
                <th>Number of Items</th>
                <th>Total Amount</th>
                <th>Paid Amount</th>
                <th>Pending Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.title }}</td>
                    <td>{{ invoice.created_at }}</td>
                    <td>{{ invoice.created_by }}</td>
                    <td>{{ invoice.get_total_items }}</td>
                    <td>{{ invoice.get_total_amount }}</td>
                    <td>{{ invoice.amount_paid }}</td>
                    <td>{{ invoice.get_pending_amount }}</td>
                    <td>
                        <button class="btn btn-primary" onclick="onInvoiceViewButtonClick({{ invoice.pk }})"><i class="fas fa-arrow-up-right-from-square"></i></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}