{% extends 'invoice_manager/base.html' %}

{% block title %}Create Invoice{% endblock %}

{% block content %}
    <h1>Create Invoice</h1>
    <form id="create-invoice-form" method="post" action="{% url 'invoice_manager:invoice_create' %}">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Optional... By default will be stored a Customer's Invoice No.">
        <label for="customer">Customer</label>
        <input list="customers" class="form-control" id="customer" name="customer" autocomplete="off" required>
        <datalist id="customers">
            <option value="" selected disabled>Select Customer</option>
            {% for customer in customers %}
                <option value="{{ customer.name }}" data-customer-id="{{ customer.pk }}">
            {% endfor %}
        </datalist>

        <br><br>
        <div id="item-list">
            <div data-item-id=1 class="item-block">
                <hr>
                <label for="item-1">Item</label>
                <input list="items-dropdown-list-1" class="form-control" id="item-1" name="item" style="display: inline-block; width: 15%" required>
                <datalist id="items-dropdown-list-1">
                    <option value="" selected disabled>Select Item</option>
                    {% for item in items %}
                        <option value="{{ item.name }}" data-rate="{{ item.rate }}" data-item-id="{{ item.pk }}">
                    {% endfor %}
                </datalist>
                <label for="quantity-1">Quantity</label>
                <input type="number" class="form-control" id="quantity-1" name="quantity" value=0 style="display: inline-block; width: 15%" required>
                <label for="rate-1">Rate</label>
                <input type="number" class="form-control" id="rate-1" name="rate" value=0 style="display: inline-block; width: 15%" disabled>
                <label for="total-1">Total</label>
                <input type="number" class="form-control" id="total-1" name="total" value=0 style="display: inline-block; width: 15%" disabled>
            </div>
        </div>
        <br><br>
        <button type="button" class="btn btn-primary" id="add-item-button">Add Item</button>
        <br><br>

        <button type="submit" class="btn btn-primary" id="create-invoice-button">Create Invoice</button>
    </form>

    <script>

        $('input[name="quantity"]').on('keyup change', function() {
            var itemId = $(this).parent().data('item-id');
            var total = 0;
            var quantity = $(this).val();
            var rate = $("input[id='rate-" + itemId + "']").val();
            console.log(rate);
            console.log(quantity);
            total = quantity * rate;
            console.log(total);
            $("input[id='total-" + itemId + "']").val(total);
        });

        $('input[name="item"]').on('change', function() {
            var itemId = $(this).parent().data('item-id');
            var list = $(this).attr('list');
            var datalist = $('#' + list);
            var dataItem = datalist.children('option[value="' + $(this).val() + '"]');
            var rate = dataItem.data('rate');
            console.log(rate);
            $("input[id='rate-" + itemId + "']").val(rate);
        });

        $('#add-item-button').on('click', function() {

            var item_list = $('#item-list');
            var items = item_list.children().length;
            var item_html =`
            <div class="item-block">
                <hr>
                <label for="item-${items+1}">Item</label>
                <input list="items-dropdown-list-${items+1}" class="form-control" id="item-${items+1}" name="item" style="display: inline-block; width: 15%" required>
                <datalist id="items-dropdown-list-${items+1}">
                    <option value="" selected disabled>Select Item</option>
                    {% for item in items %}
                        <option value="{{ item.name }}" data-rate="{{ item.rate }}" data-item-id="{{ item.pk }}">
                    {% endfor %}
                </datalist>
                <label for="quantity-${items+1}">Quantity</label>
                <input type="number" class="form-control" id="quantity-${items+1}" name="quantity" value=0 style="display: inline-block; width: 15%" required>
                <label for="rate-${items+1}">Rate</label>
                <input type="number" class="form-control" id="rate-${items+1}" name="rate" value=0 style="display: inline-block; width: 15%" disabled>
                <label for="total-${items+1}">Total</label>
                <input type="number" class="form-control" id="total-${items+1}" name="total" value=0 style="display: inline-block; width: 15%" disabled>
            </div>
            `;

            item_list.append(item_html);
        });

        $('#create-invoice-form').on('submit', function(e) {
            e.preventDefault();

            var quantities = $('input[name="quantity"]').map(function() { return $(this).val(); }).get();
            var items = [];
            var rates = [];
            $('input[name="item"]').each(function(index, item) {
                var list = $(item).attr('list');
                var datalist = $('#' + list);
                var dataItem = datalist.children('option[value="' + $(item).val() + '"]');
                var value = dataItem.data('value');
                var rate = dataItem.data('rate');
                items.push(value);
                rates.push(rate);
            });

            console.log(items);
            console.log(quantities);
            console.log(rates);
            {#$.ajax({#}
            {#    type: 'POST',#}
            {#    url: $(this).attr('action'),#}
            {#    data: {#}
            {#        title: $('#title').val(),#}
            {#        customer: $('#customer').val(),#}
            {#        items: $('input[name="items"]').map(function() { return $(this).val(); }).get(),#}
            {#        quantities: $('input[name="quantities"]').map(function() { return $(this).val(); }).get(),#}
            {#    },#}
            {#    headers: {#}
            {#        'X-CSRFToken': '{{ csrf_token }}',#}
            {#    },#}
            {#    success: function(response) {#}
            {#        if (response.success) {#}
            {#            window.location.href = response.redirect_url;#}
            {#        } else {#}
            {#            alert('Failed to create invoice');#}
            {#        }#}
            {#    }#}
            {# });#}
        });

    </script>
{% endblock %}
