{% extends 'invoice_manager/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="container">
      <h1 class="text-center">Items</h1>
      <button type="button" class="btn red-button mt-3 mb-3" data-toggle="modal" data-target="#create-modal">Create New Item</button>
    <div class="row justify-content-center">
      <table id="item-table" class="table table-striped">
        <thead>
          <tr>
            <th>Item Name <input style="display: inline-block; width: 50%" onkeyup="FilterList()" type="text" class="form-control" id="search-input" placeholder="Search..."></th>
            <th>Rate</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr data-item-id="{{ item.pk }}">
              <td>{{ item.name }}</td>
              <td>{{ item.rate }}</td>
              <td>
                <button class="btn btn-primary" onclick="onItemUpdateButtonClick({{ item.pk }})"><i class="fas fa-edit"></i></button>
                <button class="btn btn-danger" onclick="onItemDeleteButtonClick({{ item.pk }})"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <!-- Modal template -->
    {% include 'invoice_manager/partials/item-modals.html' %}

  <!-- JavaScript code -->
  <script>

      {% include 'invoice_manager/partials/item-modal-functions.html' %}

    function FilterList() {
        const input = $('#search-input').val();
        const tableBody = $('#item-table tbody');
        const items = tableBody.find('tr');

        items.each(function() {
            const itemName = $(this).find('td:nth-child(1)').text();
            if (itemName.toLowerCase().indexOf(input.toLowerCase()) > -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    $('#create-item-form').on('submit', function(e) {
        e.preventDefault();
        var modalId = '#create-modal';
        var loaderId = '#loader';
        var errorMessageId = '#error-message';

        $(loaderId).show();
        $(errorMessageId).hide();

        $.ajax({
          type: 'POST',
          url: '{% url 'invoice_manager:item_create' %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
              },
          data: $(this).serialize(),
          success: function(response) {
            if (response.success) {
                console.log(response.success);
              $(modalId).modal('hide');
              $(loaderId).hide();
              // Add new item to table
              var tableBody = document.querySelector('tbody');
              var newRow = document.createElement('tr');
              newRow.setAttribute('data-item-id', response.item.pk);
              newRow.innerHTML = `
                <td>${response.item.name}</td>
                <td>${response.item.rate}</td>
                <td>
                  <button type="button" class="btn btn-primary" onclick="onItemUpdateButtonClick(${response.item.pk})">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger" onclick="onItemDeleteButtonClick(${response.item.pk})">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              `;

              tableBody.appendChild(newRow);
              $(errorMessageId).html('').hide();
            } else {
              $(loaderId).hide();
              if (response.reason) {
                $(errorMessageId).html(response.reason).show();
              } else {
                $(errorMessageId).html(response.error).show();
              }
            }
          },
          error: function(xhr, status, error) {
            $(loaderId).hide();
            $(errorMessageId).html('Error: ' + error).show();
          }
        });
      });

    $('#update-item-form').on('submit', function(e) {
        e.preventDefault();
    });
  </script>
{% endblock %}